<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ASIS Homepage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
    <link rel="stylesheet" href="/static/css/loader.css">
</head>

<body class="container-fluid">
    <div class="container-fluid text-center">
        <h2>Auto Photo Montage</h2>
        <hr>
    </div>
    <div class="row">
        <div class="col">
            <h5>Instructions:</h5>
            <ol>
                <li>Add images from your device to <b>input</b> section</li>
                <li>Click on the <span style="background-color:green; color: white;">RUN</span> button to start.</li>
                <li>After a while, final image will appear in the <b>output</b> section.</li>
                <li>Download or right click on the output image for more options.</li>
            </ol>
        </div>
        <div class="col">
            <h5>More details:</h5>
            <ul>
                <li><span><a href="#">Read short paper</a></span></li>
                <li>Email me for code - <span style="color:blue">krivsj@gmail.com</span></li>
            </ul>
        </div>
    </div>

    <div class="row mt-4 container-fluid">
        <div class="col">
            <h3>Input</h3>
            <div class="shadow col-md-auto container-fluid">
                <form action="/" class="dropzone"></form>
            </div>
        </div>
        <div class="col-md-auto text-center align-self-md-center">
            <button type="button" class="btn btn-success shadow" onclick=startProcessing()>RUN</button>
        </div>
        <div class="shadow col">
            <h3>Output</h3>
            <div class=" shadow container-fluid text-center" id="outputID">
                <!-- Processed image will appear here -->
            </div>
        </div>
    </div>

    <!-- JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>

    <!-- Custom -->
    <script src="/static/js/utils.js"></script>

    <footer class="container-fluid text-right mt-5 mb-3">
        &copy
        <a href="https://virksaab.github.io/">Jitender Singh Virk</a>
    </footer>
</body>

</html>